*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-direction: row;
}

.right-links {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin-left: auto;
}

.content > * {
  border: 2px solid green;
  height: 200px;
}

.content > :nth-last-child(1) {
  height: 150px;
}

.footer {
  margin-top: auto;
}