*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

* {
  font-family: Roboto, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header, .content, .footer {
  margin: 0 150px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header, .footer {
  height: 40px;
  border: 1px solid darkred;
}

.header {
  display: flex;
  flex-direction: row;
}

.right-links {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin-left: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

.content > * {
  border: 1px solid darkolivegreen;
}

.content > *:not(:last-child) {
  min-height: 200px;
}

.content > :nth-last-child(1) {
  min-height: 150px;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.intro > div > * {
  margin: 8px 0;
}

.intro-button {
  padding: 4px 16px;
}

.information {
  display: flex;
  justify-content: space-evenly;
  gap: 32px;
  padding: 16px 32px;
  text-align: center;
  flex-wrap: wrap;
}

.information-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 0 150px;
}

.quote > :nth-child(2) {
  align-self: flex-end;
}

.call-to-action {
  display: flex;
  align-items: center;
}

.call-to-action-box {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  margin: 20px 120px;
  padding: 24px 48px;
}

.call-to-action-button {
  flex-shrink: 0;
}

.footer {
  margin-top: auto;
}